@import '../../../styles/base/all';

.block--dark {
  .app-logo {
    .cls-1 {
      fill: $color-white;
    }
  }
}

.agency-logos {

  li {
    display: inline-block;
    margin-right: 2rem;
  }

  img,
  svg {
    max-height: 6rem;
    vertical-align: middle;
  }

  svg {
    height: 2.5rem;

    .cls-1 {
      fill: $color-white;
    }
  }
}

.app-links {
  display: block;
  float: left;

  .app-link {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-left: 4rem;
    text-transform: uppercase;
    vertical-align: top;
  }
}

.app-link > a {
  line-height: 40px;

  &.active {
    color: $brand-primary;
    font-weight: bold;
  }
}

.app-logo {
  margin: 0 auto;
  width: 13rem;

  @media screen and (min-width: $small-screen) {
    float: left;
  }

  a {
    display: block;
    line-height: 40px;

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  svg {
    height: 100%;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
  }

  .svg-container {
    height: 30px;
    position: relative;
    width: 100%;
  }
}

.app-navigation {
  font-size: 0.8em;
  padding: 1.5rem 0;

  @media screen and (min-width: $small-screen) {
    font-size: 1em;
  }

  .search-form {
    .autocomplete-container {
      right: 0;
    }
  }
}

.footer-links {
  margin-bottom: 1em;

  a {
    font-size: 0.9em;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.usa-disclaimer {
  font-size: 0.8em;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  @media screen and (min-width: $small-screen) {
    font-size: 0.9em;
    position: relative;
  }

  a {
    color: $brand-blue;
    font-weight: bold;
    text-decoration: none;
  }

  img {
    max-width: 1.5em;
  }

  .usa-disclaimer-stage {
    margin-bottom: 0;
    margin-top: 0;
  }
}
