@import '../../../styles/base/all';

body {
  background-color: $color-white;
}

.about {
  border-bottom: 1px solid $color-gray-lightest;

  header {
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 1.75em;
      margin: 0 auto;
      max-width: 17em;

      @media screen and (min-width: $small-screen) {
        font-size: 2em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 3em;
      }
    }

    p {
      font-size: 1em;
      margin-top: 1rem;

      @media screen and (min-width: $medium-screen) {
        font-size: 1.9em;
      }
    }
  }

  hr {
    border-top: 6px solid $brand-teal;
    margin-top: 6rem;
    width: 30rem;
  }
}

.about-actions {
  margin-top: 2em;
  padding: 0;

  @media screen and (min-width: $medium-screen) {
    margin-top: 4em;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 0;
  }

  li {
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;

    i {
      font-size: 1.2em;
    }
  }

  p {
    font-size: 0.95em;
  }

}

.about-action {
  text-align: center;

  > a > img {
    padding: 1rem;
    transition: 0.2s transform;
  }

  > a:focus,
  > a:hover {
    text-decoration: none;

    > img {
      transform: scale(1.1);
    }
  }
}

@keyframes zoomOutOnBackground {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}

.banner {
  height: 90vh;
  position: relative;

  @media screen and (min-width: $small-screen) {
    padding: 16rem 0 16rem;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0;

    @media screen and (min-width: $small-screen) {
      font-size: 2.8em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 3.2em;
    }
  }

  p {
    color: $color-gray-lighter;
    font-size: 1em;
    margin: 2rem auto 3rem;
    max-width: 40rem;

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 1.4em;
    }
  }

  .usa-button {
    box-shadow: 0 3px 7px rgba($color-black, 0.1);
    font-size: 1em;
    margin: 0 auto;
    max-width: 12em;

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
      max-width: none;
    }
  }
}

.banner-background-container {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-background {
  animation: 10s linear zoomOutOnBackground;
  background-image: url('/assets/img/american_flag_1920x1280_gradient.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-container {
  margin: 0 auto;
  max-width: 55em;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.featured-projects {
  text-align: center;
}

.featured-project {
  > img {
    padding: 1rem;
    height: 170px;
  }

  > p {
    margin-bottom: 2rem;
  }
}

.press {
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.press-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 43em;
}

.press-links {
  margin-top: 2em;
  text-align: center;

  @media screen and (min-width: $medium-screen) {
    margin-top: 0;
    text-align: right;
  }

  .press-logo {
    max-width: 7.5em;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.quote-large {
  blockquote {
    background-color: transparent;
    border-left: none;
    color: $brand-blue-gray;
    font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0;
    padding-left: 0.75em;
    position: relative;

    @media screen and (min-width: $medium-screen) {
      font-size: 2.5em;
    }

    &::before {
      color: $brand-teal;
      content: "“";
      font-size: 1.75em;
      left: 0em;
      position: absolute;
      top: -0.275em;

      @media screen and (min-width: $medium-screen) {
        font-size: 2.5em;
      }
    }

    &::after {
      color: $brand-teal;
      content: "”";
      font-size: 1.75em;
      right: 0;
      position: absolute;

      @media screen and (min-width: $medium-screen) {
        font-size: 2.5em;
      }
    }
  }

  .attribution {
    border-top: 1px solid $color-gray-lighter;
    display: inline-block;
    margin-left: 1.3em;
    padding-top: 0.75em;

    @media screen and (min-width: $medium-screen) {
      margin-left: 2em;
    }

    .press-logo {
      max-width: 5em;
    }
  }
}

.press-logo {
  backface-visibility: visible;
  transition: all 0.2s ease;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  -webkit-perspective: 1000;

  &:hover {
    transform: translateY(-2px);
  }
}

@keyframes bounce {
	0%, 6%, 15%, 20%, 100% {
    transform: translateX(-50%) translateY(0);
  }

	12% {
    transform: translateX(-50%) translateY(-30px);
  }

	18% {
    transform: translateX(-50%) translateY(-15px);
  }
}

.scroll-indicator {
  animation: 6s linear bounce infinite;
  bottom: 0;
  color: $color-white;
  font-size: 8em;
  height: 7rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);

  > i {
    position: relative;
    top: -30px;
    vertical-align: top;
  }
}
