.block {
  background-color: darken($color-gray-lightest, 5);
}

.block--dark {
  background-color: $brand-blue-gray-dark;
}

.block--light {
  background-color: lighten($color-gray-lightest, 2);
}

.block--white {
  background-color: $color-white;
}

.block--transparent {
  background-color: transparent;
}
